<ion-content>
  <app-header></app-header>
<ion-card>
  <ion-item>
    <ion-icon name="person-outline" slot="start"></ion-icon>
  <ion-label>
    <ion-card-title> Integrantes</ion-card-title>
  </ion-label>

</ion-item>
<ion-card-content>
  <p>Gerardo Javier Lopez Flamenco,  <b>  LF172473 </b></p>  
  <p>Maria Fernanda Martínez Soto,     <b>MS181332</b></p>  
  <p>Salvador Armando Pérez Pinto,     <b>PP130189</b></p>  
  <p>Edgardo Amilcar Nieves Kamada,    <b>NK130207</b></p>  
  <p>Diego Alejandro Varela Velásquez, <b>VV120320</b></p>  
 </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="document-text-outline" slot="start"></ion-icon>
  <ion-label>
    <ion-card-title> Acerca del proyecto</ion-card-title>
  </ion-label>

</ion-item>
<ion-card-content>
  <p> Vista la necesidad de un sistema de control de mascotas en múltiples veterinarias decidimos así centrar nuestro proyecto de catedra a la resolución de este problema, debido a que se trabaja en físico o simplemente no llevan un control, más bien se basan en atención por “orden de llegada”, ha nacido la idea del sistema de control "VET UDB", brindando una interfaz amigable y comprensible para el usuario, que ayude tanto a clientes a programar sus citas con su médico veterinario </p>  
 </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="alert-outline" slot="start"></ion-icon>
  <ion-label>
    <ion-card-title> Licencia </ion-card-title>
  </ion-label>

</ion-item>
<ion-card-content>
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />Este obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">licencia de Creative Commons Reconocimiento-CompartirIgual 4.0 Internacional</a>.
</ion-card-content>
</ion-card>

</ion-content>