
<ion-content>
  <app-header title="estoy en HOME"></app-header>

  <ion-button color="main" fill="solid" (click)="getData()">getData</ion-button>
  
  <ion-button color="clear-main" fill="solid" (click)="nuevoCliente()">Nuevo Cliente</ion-button>

  <ion-button color="clear-type" fill="solid" (click)="deleteData()">DeleteData</ion-button>

  <ion-grid>
    <ion-title>simple</ion-title>
    <ion-row>
      <ion-col>ion-col</ion-col>
      <ion-col>ion-col</ion-col>
      <ion-col>ion-col</ion-col>
      <ion-col>ion-col</ion-col>
    </ion-row>
    
    <ion-title>Con tamaño</ion-title>
    <ion-row>
      <ion-col size="6">ion-col [size="6"]</ion-col>
      <ion-col>ion-col</ion-col>
      <ion-col>ion-col</ion-col>
    </ion-row>
  
    <ion-title>tamaño automatico</ion-title>
    <ion-row>
      <ion-col size="3">ion-col [size="3"]</ion-col>
      <ion-col>ion-col</ion-col>
      <ion-col size="3">ion-col [size="3"]</ion-col>
    </ion-row>
  
    <ion-title>offset</ion-title>
    <ion-row> 
      <ion-col size="3">ion-col [size="3"]</ion-col>
      <ion-col size="3" offset="3">ion-col [size="3"] [offset="3"]</ion-col>
    </ion-row>
  </ion-grid>

  <ion-title>Info de FireBase</ion-title>
  <ion-list *ngFor="let a of data">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Id: {{a.id}}</ion-card-subtitle>
        <ion-card-title>Nombre: {{a.nombre}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>DUI: {{a.dui}}</ion-label>
        <ion-list *ngFor="let masc of a.mascotas">
          <ion-item>
            <ion-text> 
              <h1>Nombre Masc: {{masc.nombre}}</h1>
              <h3>Edad Masc: {{masc.edad}}</h3>
            </ion-text>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
