<ion-content padding>
  <app-header title="Registro de Cliente"></app-header>
  
  <div class="row">
    <!-- <div class="col-4 offset-8">
      <div class="form-group">
        <input id="demo-input-search2" type="text" name="filtrarNombre" [(ngModel)]="filtrarNombre" placeholder="Buscar por nombre" autocomplete="off">
      </div>
    </div> -->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive animated fadeInDown">
            <table class="table full-color-table full-primary-table hover-table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Edad</th>
                  <th>Teléfono</th>
                  <th>Dirección</th>
                  <th>Editar</th>
                  <th>Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let datos of pacientes">
                  <td>{{datos.idpaciente}}</td>
                  <td>{{datos.nompaciente}}</td>
                  <td>{{datos.edadpaciente}}</td>
                  <td>{{datos.telpaciente}}</td>
                  <td>{{datos.dirpaciente}}</td>
                  <td> 
                  <a (click)="seleccionarPaciente(datos.idpaciente);" class="btn btn-warning"><ion-icon name="create-outline"></ion-icon></a>
                  </td>
                  <td> 
                  <a (click)="EliminarPaciente(datos.idpaciente);" class="btn btn-success"><ion-icon name="trash-outline"></ion-icon></a>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
          </div>
        </div>
      </div>
  </div>
</div>

</ion-content>

